---
name: 32 bit x86

"on":
  push:
    branches:
      - main
      - devel
  pull_request:


jobs:
  build:
    name: Tests 32 bit compilation on x86
    runs-on: ubuntu-24.04

    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install packages
        run: sudo apt update && sudo apt install build-essential time libc6-i386 gcc-multilib g++-multilib
      - name: build and test
        run: ci/build_32bit.sh
      - name: store logs as artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          path: '**/*.log'
